---
title: Avoimet työpaikat
heading: Avoimet työpaikat
description: Tervetuloa juuri meille! Unelmamme on tehdä hyvää jälkeä luontoa sekä asiakkaita kunnioittaen. Olemme sitoutuneita noudattamaan poikkeuksetta kestävän kehityksen periaatteita. Tule mukaan osaavaan, vastuulliseen, aurinkoiseen, kykenevään, joustavaan, ympäristöystävälliseen ja ketterään huipputiimiin!
pricing_table:
  - name: Kääntäjä-tulkki
    color: "#000000"
    features:
      - text: Auktorisoitu kääntäjä ja tulkki suomi-ranska-suomi
        highlight: false
      - text: Muuttaminen toimistolle katsotaan eduksi 
        highlight: false
      - text: Palkka 10 senttiä per käännetty sana
        highlight: false
      - text: Vaadimme salassapitosopimuksen allekirjoitusta
        highlight: false
      - text: Työntekijän etuihin kuuluu yksi lämmin ruoka päivässä
        highlight: false
      - text: 87,5 tunnin työviikko
        highlight: false
    call_to_action:
      link: https://www.youtube.com/watch?v=dQw4w9WgXcQ
      text: Hae nyt
  - name: Kokopäiväinen rekkakuski
    color: "#000000"
    features:
      - text: Vähintään CE-kortti + 30 vuoden kokemus ajamisesta rekalla
        highlight: false
      - text: Can do -asenne, vähäuninen, superihminen
        highlight: false
      - text: Palkka 1500€
        highlight: false
      - text: Oma rekka katsotaan eduksi
        highlight: false
      - text: Työntekijän etuihin kuuluu 10 kahvikuponkia ja 3 lomapäivää kuussa
        highlight: false
      - text: Säännöllinen ja kokopäiväinen 100 tunnin työviikko
        highlight: false
    call_to_action:
      link: https://www.youtube.com/watch?v=dQw4w9WgXcQ
      text: Hae nyt
  - name: Myynnin asiantuntija
    color: "#000000"
    features:
      - text: Vähintään maisterintutkinto
        highlight: false
      - text: Joustavat työskentelytavat
        highlight: false
      - text: Palkka ei neuvoteltavissa
        highlight: false
      - text: 20 vuotta kokemusta myyntialalta
        highlight: false
      - text: Erilaiset edustustehtävät kotimaassa tai ulkomailla ainoastaan minuuttien varoitusajalla.
        highlight: false
      - text: Säännöllinen ja kokopäiväinen 80 tunnin työviikko
        highlight: false
    call_to_action:
      link: https://www.youtube.com/watch?v=dQw4w9WgXcQ
      text: Hae nyt
  
faq:
  - question: Ketä me etsimme näin yleisesti?
    answer: Etsimme innokasta can do -asenteella varustettua toimijaa useasta eri taustasta. Odotamme sinulta erinomaisen äidinkielen taidon lisäksi erinomaisia edellytyksiä työskennellä ja toimia ruotsiksi, englanniksi, swahiliksi, kiinaksi sekä japaniksi. Tehtävämme sopivat vastavalmistuneelle, mutta edellytämme maisterintutkintoa ja toivomme vähintään 20 vuoden kokemusta työmarkkinoilla. Toivomme sinulta myös menestyneen yrittäjän asennetta sekä ylitsepaisuvaa innokkuutta ja rohkeutta tarttua uusiin haasteisiin.
  - question: Mitä voit odottaa vastineeksi meiltä?
    answer: Tarjoamme sinulle dynaamisen, kestävän, yhteistyökykyisen, progressiivisen, pätevän, kansainvälisen sekä ammattitaitoisen työyhteisön, jossa tekemiselläsi on jotain todella aitoa, konkreettista, kestävää ja progressiivista merkitystä. Meillä ei tehdä vain duunia, meillä ollaan yhtä isoa perhettä. Kun omistat koko elämäsi ja sielusi meille, me tarjoamme hyvät jatkomahdollisuudet yrityksessämme. Koko työyhteisömme mielellään opastaa sinua alkuaskeleissa, mutta ethän pyydä liian usein apua, sillä se häiritsee flowtilaa ja huoneen fengshuita. Huomioithan siis, että olet loppukädessä yksin vastuussa omista tekemisistäsi. Olet niin ikään myös asiakkaan ensimmäinen kosketus yritykseemme, joten odotamme sinun olevan valmis edustamaan meitä tilanteessa kuin tilanteessa.
  - question: Lisäkysymyksiä?
    answer: Lähes kaikissa työpaikkaan ja työhön liittyvissä kysymyksissä voi kääntyä henkilöstöpäällikkömme puoleen osoitteessa <a href="mailto:support@example.com">nico-hr@truxtrucks.com</a>. Ethän kuitenkaan lähetä liikaa viestejä, sillä se häiritsee Nicon työtä!
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Lisätietoja</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
